.create-form{
    display: block;
    /* margin: auto; */
    border: 1px solid #eeeff2;
    background-color: #fff;
    width: 250px;
    /* margin: auto; */
    padding: 32px 40px 46px;
    color: #71767a;
    position: relative;
    top: 150px;
    border-radius: 3px;
    z-index: 0;
    box-shadow: 0px 0px 1px #c79d9d;
    overflow-y: scroll;
    overflow: scroll;
    top: 0px;
    right: 0px;
    margin-right: 0;
    display: inline-block;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.create-form input{
    font-size: 14px;
    padding: 8px 10px;
    color: #525558;
    border: 1px solid rgba(185,193,199,0.5);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
    resize: none;
    line-height: 1.4em;
}

.create-form select {
    color: #525558;
    border: 1px solid rgba(185,193,199,0.5);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    width: 169px;
    padding: 6px 30px 6px 10px;
    resize: none;
    -webkit-transition: border-color 0.1s;
    -moz-transition: border-color 0.1s;
    transition: border-color 0.1s;
    height: 30px;
    -webkit-appearance: none;
}


.create-form label {
    display: block;
    margin-bottom: 10px;
}

.create-button{
    display: block;
    background: #b5deda;
    margin: 15px;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    width: 153px;
    position: relative;
    left: -15px;
    top: 15px;
    line-height: 1.4em;
    cursor: pointer;
    text-align: center;
}


.create-button:hover{
    background: #6adfd4;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 41;
}
 
.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    //ongoing
    max-width: 80%;
    min-width: 600px;
    max-height: 90%;
}

  
#file{
    width: 80px;
    border: none;
}

.modal-container{
    display: flex;
    width: 900px;
    background: #fff;
    justify-items: flex-end;
    justify-content: space-between;
}

.preview{
    position: relative;
    margin: 0;
    display: flex;
    /* width: 40%; */
    max-width: 40%;
    height: auto;
    display: inline-block;
    margin: auto;
    margin-top: 40px;
}


.image-preview-header{
    margin-bottom: 40px;
    margin-top: 40px;
    /* padding-left: 100px;*/
}

.image-preview-area{
    display: flex; 
    flex-direction: column;
    width: 600px;
    align-items: center;
}

// .create-photo-preview-container{
//     display: flex;
//     padding: 50px;
//     box-sizing: border-box;
//     height: 400px;
//     /* width: auto; */
//     max-width: 300px;
// }

.create-photo-preview{
    // height: 300px;
    width: auto;
    margin-top: 150px;
    max-width: 600px;
    max-height: 450px;
}