.edit_form{
    display: block;
    margin: auto;
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 32px 40px 46px;
    color: #71767a;
    position: relative;
    z-index: 0;
    border-left: $sienna-border;
}

.edit_form input{
    font-size: 14px;
    padding: 8px 10px;
    color: #525558;
    border: 1px solid rgba(185,193,199,0.5);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
    resize: none;
    line-height: 1.4em;
}

.edit_form label {
    display: block;
    margin-bottom: 10px;
}

.edit-button{
    display: block;
    background: #34bf49;
    margin: 15px;
    height: 40px;
    padding: 5px 30px;
    font-size: 14px;
    border-radius: 3px;
    // width: calc(100% - 150px);
    width: 299px;

    position: relative;
    left: -15px;
    margin-left: 20px;
    top: 15px;
    font-weight: bold;
    color: white;
    line-height: 28px;
    cursor: pointer;
    // width: 60%;
    box-sizing: border-box;
    transition: background-color 0.1s ease-in-out;
}

// .edit-button:hover{
//     background: #34bf49;
// }

//need to make opaque when no changes have been registered 

.delete-button{
    display: inline-block;
    color: #fff;
    background: #71767a;
    margin: 15px;
    padding: 0 10px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    width: 279px;
    position: relative;
    left: -10px;
    top: 15px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.delete-button:hover{
    background-color: #7d8387;
}