.footer-container-outer{
    display: block;
    align-items: center;
    width: 100%;
    height: 90px;
    background: FFFFFF;
    position: fixed;
    bottom: 0;
    // background: #A9BBBA;
    background: white;
    border-top: $sienna-border;
}

.footer-container-inner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.devLink p{
    font-family: unset;
}

.footer-container-inner .devLink:hover{
    color: #0099e5; 
    cursor: pointer;
}

.portfolio-logo{
    height: 15px;
    width: 15px;
    background-image: url('G.svg');
    background-size: cover;
    margin-right: 4px;
}

// .portfolio-logo:hover{
//     background-image: url('G-blue.svg');
// }

.devLink2 {
    display: flex;
    align-items: center;
}

.devLink2:hover{
    color: #0099e5; 
    cursor: pointer;
}

.devLink2:hover > .portfolio-logo{
    background-image: url('G-blue.svg');
}