.form{
    display: block;
    margin: auto;
    border: 1px solid #eeeff2;
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 32px 40px 46px;
    color: #71767a;
    position: relative;
    top: 150px; 
    border-radius: 3px;
    z-index: 1;
}

.form input{
    font-size: 14px;
    padding: 8px 10px;
    color: #525558;
    border: 1px solid rgba(185,193,199,0.5);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
    resize: none;
    line-height: 1.4em;
}

.form label {
    display: block;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}
.form input{
    display: block;
    background: white;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
}


.form button{
    background: #b5deda;
    margin: 15px;
    /* margin-top: 15px; */
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    width: calc(100%);
    position: relative;
    left: -15px;
    top: 15px;
    line-height: 1.4em;

}

.alt-form-link a{
    text-decoration: none;
    color: #0099e5; 
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    position: relative;
    right: 20px;
    left: 234px;
    top: 20px;
}

.guest-login{
    font-size: 14px;
    line-height: 1.5;
}

.guest-login a{
    text-decoration: none;
    color: #0099e5; 
}