.greeting{
    position: relative;
    top: 200px;
    display: block;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.4px;
    color: black;
    text-shadow: 0px 1px 0x #7571719e;
}

.dropdown{
    position: relative;
}

.fa-user-circle{
    position: relative;
}
