
.header{
    height: 75px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 0;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    border-bottom: 1px solid rgba(66, 36, 12, 0.205);
    z-index: 40;
}

.nav{
    display: flex;
    position: fixed;
    right: 15px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    transition: border-left-color 0.9s ease;
    top: -10px;
    padding: 20px;
}

.nav > * {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.search{
    background: #e4dfdf;
    border-radius: 30px;
    display: flex;
    border: 1px solid #dfe1e5;
    width: 250px;
    height: 30px;
    text-align: left;
    text-indent: 45px;
}

.search:focus{
    border-radius: 30px;
    outline: 5px;
}

.fa-search:before {
    content: "\f002";
    left: 75px;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
    padding: 2px 5px;
    font-weight: 300;
    font-size: 24px;
    font-family: unset;
    color: #292828;
    cursor: pointer;
}

.fa-user-circle{
    font-size: 25px;
}

.fa-plus{
    font-size: 25px;
}

.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
}
  
  /* Dropdown button on hover & focus */
// .dropbtn:hover, .dropbtn:focus {

// }
  
.dropdown {
    position: relative;
    display: inline-block;
   
}
  
  /* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 3px -3px 5px 1px rgba(43, 43, 43, 0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display:block;
    border-radius: 5px;
}