.upload-button{
    display: block;
    margin: 10px 20px;
    height: 40px;
    min-width: 0;
    font-size: 14px;
    line-height: 38px;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 28px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    outline: none;
    background-color: #0099e5;
    border: 1px solid #0099e5;
    position: relative;
    top: 250px;
}

.library-photos{
    max-width: 250px;
    max-height: 250px;
    margin: 15px;
}