.upload-button{
    display: block;
    margin: 10px 20px;
    height: 40px;
    min-width: 0;
    font-size: 14px;
    line-height: 38px;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 28px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    outline: none;
    background-color: #0099e5;
    border: 1px solid #0099e5;
    position: relative;
    height: 40px;
    margin: 10px 20px;
    width: 219px;
    box-sizing: border-box;
    text-align: center;
}


.thumbnail{
    cursor: pointer;
    list-style-type: none;

}

.thumbnail:active{
    border: 3px solid $blue;
    border-radius: 6px;
    box-sizing: border-box;
}

.selected{
    border: 3px solid $blue;
    border-radius: 6px;
    box-sizing: border-box;
}

.fa-external-link-alt{
    font-size: 6px;
    z-index: 1;
    position: relative;
    // top: 15px;
    // left: 92px;
    cursor: pointer;
    color: #aaaaaa;
    font-size: 10px;
}

.external-link-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    z-index: 60;
    background: #dedbdb;
}