
.header{
    height: 75px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 0;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    border-bottom: 1px solid rgba(66, 36, 12, 0.205);
    z-index: 40;
}

.nav{
    display: flex;
    position: fixed;
    right: 15px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    transition: border-left-color 0.9s ease;
    top: 0px;
    padding: 20px;
}

.nav > * {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.signup-styling{
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    height: 30px;
    background-color: transparent;
    color: rgb(34, 34, 34);
    padding: 0px 16px;
    border-width: 2px;
    border-radius: 100px;
    border-style: solid;
    margin: 0px;
    border-color: rgb(34, 34, 34);
}

.signup-styling:hover{
    background-color: transparent;
    color: #0099e5; 
    border-color: rgb(34, 34, 34);
}

.search{
    // background: #e4dfdf;
    background: #e6e3e3;
    border-radius: 30px;
    display: flex;
    border: 1px solid #dfe1e5;
    width: 250px;
    height: 30px;
    text-align: left;
    text-indent: 45px;
}

.search:focus{
    border-radius: 30px;
    outline: 5px;
}

.fa-search:before {
    content: "\f002";
    left: 75px;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
    padding: 2px 5px;
    font-weight: 300;
    font-size: 24px;
    font-family: unset;
    color: #292828;
    cursor: pointer;
}

.logo:hover{
    background-color: transparent;
    color: #0099e5; 
}

.fa-user-circle{
    font-size: 30px;
    position: relative;
    left: -8px;
    padding-left: 23px;
}

.fa-plus{
    font-size: 25px;
    padding-left: 20px;
    padding-right: 10px;
}

.dropbtn {
    padding: 0px;
    border: none;
    cursor: pointer;
}
  
  /* Dropdown button on hover & focus */
// .dropbtn:hover, .dropbtn:focus {

// }
  
.dropdown {
    position: relative;
    display: inline-block;
   
}
  
  /* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 60px;
    left: 21px;
    min-width: 140px;
    margin-top: -10px;
    margin-left: -32px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 12px, rgba(0, 0, 0, 0.08) 0px 0px 4px;
    z-index: 1;
    padding: 8px 0px;
    border-radius: 8px;
    box-sizing: border-box;
}

.dropdown-content::after{
    top: -8px;
    content: "";
    position: absolute;
    left: 30px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px -2px 1px);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    box-sizing: border-box;
}

/*links for dropdown below*/
.logout{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
}

.logout:hover{
    color: white;
    background:rgb(41, 134, 247);
}

.show {
    display:block;
    border-radius: 5px;
}

.fas{
    line-height: 0;
}