.close-button{
    color: white;
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 110px;
    cursor: pointer;
    z-index: 20;
}

// .photos-index{
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     flex-direction: row;
//     position: relative;
//     top: 205px;
//     margin: 0 auto;
// }

.photos-index{
    display: grid;
    // justify-content: center;
    // flex-wrap: wrap;
    // flex-direction: row;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(400px, 600px));
    position: relative; 
    top: 205px;
    margin: 0 auto;
}

.photos-index img{
    max-width: 250px;
    max-height: 250px;
    margin: 15px;
}

.show-img{
    width: auto;
    height: auto;
    max-height: 650px;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.inner-container{
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    top: 25px;
}

.matte-box{
    display: flex;
    align-items: center;
    position: absolute;
    // top: 76px;
    left: 0;
    background-color: rgb(34, 34, 34);
    width: 100%;
    // height: calc(100vh - 128px);
    min-height: 750px;
}

.inner-container a{
    display: block;
    z-index: 100;
    position: relative;
    top: 50px;
}



////test///

// .outer-container{
    
// }

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: transparent;
    top: 0;
    left: 0;
    width: 400px;
    max-height: 800px;
    font-size: 18px;
    margin-bottom: 80px;
}

.comments-section{
    display: flex;
    background: transparent;
    left: 0;
    width: 600px;
    height: auto;
    // border: 4px solid red;
    overflow: scroll;
    position: relative;
    top: 0;
    max-height: 700px;
}

.comment-list{
    position: absolute;
    top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.like-button{
    color: $gray;
    cursor: pointer;
}

.active{
    color:red;
}

.info-and-comments-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 400px;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
}

.show-page{
    display: flex;
    flex-direction: column;
}

.outer-image-container{
    display: block;
    height: 800px;
    width: 100%;
}

.photo-header{
    display: flex;
    border-bottom: $sienna-border;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.like-button{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.fa-heart{
    margin-right: 20px;
    font-size: 30px;
    margin-right: 6px;
}

#index-heart{
    font-size: 24px;
    color: $gray;
}

.index-likes{
    font-size: 18px;
    // margin-left: 8px;
    color: $gray;
}

.index-icons-comments{
    font-size: 18px;
    color: $gray;
    margin-left: 24px;
}

.index-icons-likes{
    font-size: 18px;
    color: $gray;
    margin-left: 16px;
}

.fa-comment{
    font-size: 24px;
    color: $gray;    
    margin-right: 6px;
}

.index-coments{
    font-size: 18px;
    // margin-left: 8px;
    color: $gray;
}

.index-icons{
    display: flex;
    font-weight: lighter;
    margin-top: 5px;
}

.index-photo-title{
    font-weight: bold;
    font-size: 24px;
    color: rgb(34, 34, 34);
    text-align: left;
    margin-top: 15px;
}

// .index-icons-comments{
//     display: flex;

// }

.comment-item{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.index-items-list-items{
    text-align: center;
}

.comment-details{
    display: flex;
    flex-direction: column;
}

.comment-details-header{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px; 
}

.comment-details-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.comment-dropdown{
    display: none;
}

.comments-section > h1 {
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.photo-header-info > h1{
    font-weight: bold;
    font-size: 24px;
}

.photo-header-avatar-container{
    font-size: 30px;
    position: relative;
    // left: -9px;
    // margin-left: 23px;
    color: #71767a;
    min-width: 64px;
    max-width: 64px;
    height: 64px;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
}

.photo-header-avatar{
    width: 100%;
    height: 64px;
}

.author-link:hover{
    color: $light-blue;
}

.circle{
    font-size: 26px;
    font-weight: normal;
    color: rgb(238, 239, 242);

    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    transition: background-color 0.1s ease 0s;
    border-radius: 40px;


    
    position: absolute;
    right: 100px;
    top: 110px;
    cursor: pointer;
    z-index: 20;
  }
  
  .circle:hover{
    font-size: 26px;
    font-weight: normal;
    color: rgb(238, 239, 242);
    // position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    transition: background-color 0.1s ease 0s;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    // cursor: pointer;

    position: absolute;
    right: 100px;
    top: 110px;
    cursor: pointer;
    z-index: 20;
  }

.comment-author-name{
      font-size: 18px;
      font-weight: bold;
      color: rgb(34, 34, 34);
}

.comment-author-name:hover{
    color: $light-blue;
}

.comment-body{
    font-size: 18px;
    color: rgb(34, 34, 34);
}

.comment-details-footer{
    font-size: 16px;
    position: relative;
    right: -180px;
}

.delete{

}