.photos-index{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 275px;
}


.photos-index img{
    max-width: 250px;
    max-height: 250px;
    margin: 15px;
}