.close-button{
    color: white;
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 110px;
    cursor: pointer;
    z-index: 20;
}

.photos-index{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 275px;
}


.photos-index img{
    max-width: 250px;
    max-height: 250px;
    margin: 15px;
}

.show-img{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.inner-container{
    display: flex;
    top: 75px;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.matte-box{
    display: block;
    position: absolute;
    // top: 76px;
    left: 0;
    background-color: rgb(34, 34, 34);
    width: 100%;
    // height: calc(100vh - 128px);
    min-height: 750px;
    padding-right: 40px;
}

.inner-container a{
    display: block;
    z-index: 100;
    position: relative;
    top: 50px;
}



////test///

// .outer-container{
    
// }