.new-upload-button{
  display: block;
  margin: 10px 20px;
  height: 40px;
  min-width: 0;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  outline: none;
  background-color: #0099e5;
  border: 1px solid #0099e5;
  position: relative;
  height: 40px;
  margin: 10px 20px;
  width: 219px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  text-align: center;
  padding-top: 5px;
  top: 300px;
}

.outer-new-upload-container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.about-container-active{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: white;
  z-index: 50;
}



.profile-grid{
    //temp
    position: relative;
    top: 100px;
    //temp
    display: grid;
    grid-template-rows: 20%, 20%, 20%, 20%, 20%;
    // grid-template-rows: auto;
    height: 100%;
    // grid-template-columns: repeat(5, 20%);
    grid-template-columns: repeat(4, 25%);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    z-index: 39;
    // margin: 80px;
    // padding: 80px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    overflow: hidden;
    height: auto;

}

.profile-thumbnail{
    cursor: pointer;
    list-style-type: none;
    // max-width: 100%;
    height: 100%;
    width: auto;
    // display: block;
    // width: 100%;
    // height: 100%;
    border: 1px solid #dadada;
}

.profile-container{
    display: block;
    position: relative;
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 1600px) {
    /* For mobile phones: */
    .profile-grid {
    //   grid-template-rows: auto;
      grid-template-columns: 25% 25% 25% 25%;
    }
  }





@media only screen and (max-width: 1400px) {
    /* For mobile phones: */
    .profile-grid {
    //   grid-template-rows: auto;
      grid-template-columns: 33% 33% 33%;
    }
  }




@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  .profile-grid {
  //   grid-template-rows: auto;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .profile-grid {
    //   grid-template-rows: auto;
      grid-template-columns: 100%;
    }
  }

.profile-header{
  display: block;
  position: relative;
  // top: 76px; not sure why giving me issues all of a sudden 
  top: 57px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 14px;
  background: #fff;
}

.cover-photo-container{
    display: block;
    position: relative;
    top: 0px;
    min-height: 130px;
    border-bottom: 1px solid #eeeff2;
    background: #fff;
    margin-bottom: -104px;
}

.user-details{
  padding-bottom: 10px;
}

.user-avatar{
    margin: 0 auto;
    width: 104px;
    height: 104px;
    position: relative;
    z-index: 39;
    top: 52px;
}

.profile-avatar:hover{
  color: $gray;
}

.user-avatar-container{
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 104px;
    // height: 104px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.profile-avatar{
  font-size: 100px;
  left: -21px;
  color: $gray;
}

.profile-buttons{
  position: relative;
  overflow: hidden;
  padding: 10px 50px 0 0;
  margin-bottom: 30px;
  text-align: right;
}

.more-button{
  // width: 40px;
  width: 80px; //TEMP
  font-size: 14px;
  background-color: #f7f8fa;
  border-color: rgba(185,193,199,0.5);
  text-shadow: none;
  color: #71767a;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  // transition: background-color 0.1s ease-in-out;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  outline: none;
  background-color: #0099e5;
  border: 1px solid #0099e5;
}

.more-button:hover{
  background-color: #00aaff;
}

.more-button-hidden{
  // width: 40px;
  width: 80px; //TEMP
  height: 30px;
  font-size: 14px;
  text-shadow: none;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  // transition: background-color 0.1s ease-in-out;
}


.follow-button{
  width: 80px; //TEMP
  font-size: 14px;
  background-color: #f7f8fa;
  border-color: rgba(185,193,199,0.5);
  text-shadow: none;
  color: #71767a;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  // transition: background-color 0.1s ease-in-out;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  outline: none;
  background-color: #0099e5;
  border: 1px solid #0099e5;
}

.unfollow-button{
  width: 80px; //TEMP
  font-size: 14px;
  background-color: #f7f8fa;
  border-color: rgba(185,193,199,0.5);
  text-shadow: none;
  color: #71767a;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  // transition: background-color 0.1s ease-in-out;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  outline: none;
  background-color: #b5bdc3;
  border: 1px solid #b5bdc3;
}


.buttons-wrapper{
  display: inline-block;
}
.more-button::after{
  // content: "...";
  content: "Settings"; //TEMP
}

// .more-button:active{
//   background: #494c4e;
// }

.profile-header h1{
  font-size: 30px;
  margin: 0 0 10px 0;
  font-weight: normal;
  color: #525558;
  text-align: center;
}

.stat-details{
  text-align: center;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.stat-details li {
  display: inline-block;
  color: #b9c1c7;
  margin: 0 10px;
  line-height: 1.4em;
  list-style: none;
}

.stat-details li > p{
  font-weight: bold;
}

.details-list-photo:after{
  content: " Photos";
  font-weight: lighter;
}

// for when i have followers set up 

// .details-list-followers:after{
//   content: " Followers";
//   font-weight: lighter;
// }

// .details-list-following:after{
//   content: " Following";
//   font-weight: lighter;
// }


.tabs-container{
  position: relative;
  // z-index: 100;
  display: block;
  top: 35px;
}

.tabs{
  border-top: 1px solid #eeeff2;
  position: relative;
  // z-index: 101;
  border-bottom: 1px solid #eeeff2;
  background-color: #fff;
  list-style-type: none;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tabs > li{
  display: inline;
  margin: 0 10px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  color: #525558;
  cursor: pointer;
}

.tabs > li:hover{
  color: $blue;
}

.avatar-container{
  display: flex; 
  justify-content: center;
  //seems like it stretches photo, how to get around
}

.avatar{
  height: 100px;
  // width: auto;
  object-fit: cover;
}

.profile-show-page-button{
  cursor: pointer;
  z-index: 11000;
  
}

.bio{
  color: $gray;
  text-align: center;
}



// .profile-thumbnail-2{
//   width: auto;
//   height: 350px;
//   // display: inline-block;
// }

// .profile-grid-2{
//   display: grid;
//   grid-template-columns: repeat( 5, minmax(250px, 1fr) );
//   // grid-template-rows: repeat( , minmax(250px, 1fr) );
// }


// .profile_header * {
//   text-align: center;
// }

// .outer-profile-container{
//     display: block;
//     position: relative;
//     height: auto;
//     width: 100%;
//     box-sizing: border-box;
//     margin-top:-10px;
//     min-height:325px;
//     padding-bottom:0px;
//     padding-left:40px;
//     padding-right:40px;
//     padding-top:0px;
// }

// COVER PHOTO TIME 
// background-image:url(https://drscdn.500px.org/user_cover/25689061/q%3D65_m%3D2048/v2?webp=true&v=8&sig=17c32a3…);
// background-position-x:50%;
// background-position-y:50%;
// background-repeat-x:;
// background-repeat-y:;
// background-size:cover;
// bottom:0px;
// box-sizing:border-box;
// color:rgb(34, 34, 34);
// display:block;
// font-family:"Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
// font-size:14px;
// height:585.797px;
// left:0px;
// margin-bottom:0px;
// margin-left:0px;
// margin-right:0px;
// margin-top:0px;
// padding-bottom:0px;
// padding-left:0px;
// padding-right:0px;
// padding-top:0px;
// position:absolute;
// right:0px;
// text-align:center;
// text-rendering:optimizelegibility;
// text-size-adjust:100%;
// top:0px;
// transform:matrix(1, 0, 0, 1, 0, 0);
// width:950px;
// -webkit-font-smoothing:antialiased;


.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
