.search-results-photos{
    border-top: $sienna-border;
}

.search-index-user, .search-index-photo{
    position: relative;
    background: #F7F8FA;
}

.search-index-photo{
    color: $gray;
}

.search-index-user:hover, .search-index-photo:hover{
    background: #2986f7;
    cursor: pointer;
}

.search-modal{
    display: block;
    position: absolute;
    top: 100px;
    width: 500px;
    height: 500px;
    background: red;
}