.splash-signup{
    display: inline-flex;
    position: relative;
    // top: 230px;
    left: 0px;
    margin-top: 16px;
    height: 64px;
    width: auto;
    line-height: 64px;
    font-size: 24px;
    padding: 0px 16px;
    
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    // width: 100%;
    height: 56px;
    min-width: 180px;
    transition: background-color 0.1s ease 0s;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;

    align-items: center;

    
    font-weight: bold;
    
    
    border-width: 2px;
    border-radius: 100px;
    border-style: solid;
    margin: 0px;
    z-index: 10;
    
}

.splash-signup:hover{
    background-color: rgb(109, 115, 120);
}

.splash{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.outer-splash-container{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: -2px;
    right: 0px;
    background-size: 101%;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: 3px;
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    height: 60%;
}


@media (min-width: 1024px) {
    .outer-splash-container{
        height: 554px;
    }
}

.photos-index-container{
    display: block;
    width: 100%;
    max-height: 100%;
    background: #cfd3d4;
}

.splash-welcome-header{
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.4px;
    font-weight: bold;
    text-transform: none;
    color: rgb(34, 34, 34);
    color: white;
}

.splash-welcome > h1{
    max-width: 600px;
    width: 50%;
}

.splash-welcome > h3{
    // max-width: 600px;
    width: 50%;
}

.splash-welcome-subheader{
    font-size: 18px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: none;
    // color: rgb(34, 34, 34);
    color: #c3bebe;

}

.home-feed-text{
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.32px;
    position: relative;
    top: 125px;
    left: 40px;
    font-weight: bold;
    margin-bottom: 100px;
}

.follow-section-header{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.32px;
    position: relative;
    left: 40px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.index-thumbnail{
    height: 100%;
    width: auto;
}

.outer-splash-container{
    background-image: image-url('little-one.jpg');
    background-repeat: no-repeat;
    // background-size: 100%;
    background-size: cover;
    background-position: right;
}



.photos-index-3{
    padding: 0 64px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 100%;
    height: 500px;
    background: white;
    top: 70px;
    position: relative;
    /* align-items: center; */
    flex-direction: column;
}

.photos-index-2{
    margin-bottom: 100px;
}

.index-items-list-items-2{
    flex: 1 2 400px;
    padding: 32px;
    // flex-grow: 1;
}

.follow-photo-container {
    display: flex;
    overflow: scroll;
    position: relative;
    width: 100%;
    border-left: 10px solid black;
    border-right: 10px solid black;
    height: 74%;
}

.follow-items-list-items {
    position: relative;
    height: 350px;
    width: auto;
    border: 10px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.follow-author-info {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 35%;
    background: transparent;
}

.follow-avatar-container{
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.follow-avatar{
    height: 100%;
    object-fit: cover;
}

.follow-modal{
    position: absolute;
    bottom: 0;
    height: 24%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5098039215686274);
    transition: ease-in .3s;
    cursor: pointer;
}

.follow-name{
    font-size: 25px;
}

.follow-items-list-items:hover > .follow-modal{
    height: 100%;
    transition: ease-in .3s;
}

.follow-items-list-items:hover .follow-info{
    top: 46%;
    animation: fadeIn .8s;
    animation-fill-mode: forwards;
}

.follow-info{
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 106%;
}

@keyframes fadeIn{
    0% { opacity: 0;}
    100% { opacity: 1;}
}


body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px black;
}

@media (min-width: 1024px){

    .index-items-list-items-2 {
        padding: 32px;
    }
}

@media (min-width: 768px){

    .index-items-list-items-2 {
        margin: 0px;
        padding: 32px;
    }
}

@media (min-width: 1440px){

    .index-items-list-items-2 {
        width: 50%;
    }
}