body{
    background: green;
}


h1{
    display: block;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.4px;
    color: white;
    cursor: pointer;
}


h1:hover{
    text-shadow: 0 0 7px white;
}